In [1]:
import numpy as np
import pandas as pd
from catboost import CatBoostRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

filename = "encoded_data_04_13.csv"
df = pd.read_csv(f"../DataSets/EncodedData/{filename}", sep=",", encoding="UTF-8")
df.head()

,name,height_in_cm,year,goals_for,goals_against,goals,assists,red_cards,yellow_cards,minutes_played,market_value_in_eur,age_at_evaluation,log_market_value_base10,country_of_citizenship_encoded,sub_position_encoded,club_id_encoded,domestic_competition_id_encoded
0,Miroslav Klose,184.0,2012.75,31.0,14.0,11.0,1.0,0.0,6.0,1483.0,4000000.0,35,6.60206,7.191504e+06,5.331868e+06,7.836111e+06,7.182738e+06
1,Miroslav Klose,184.0,2013.25,24.0,15.0,5.0,2.0,0.0,2.0,1102.0,2000000.0,35,6.30103,7.191504e+06,5.331868e+06,7.836111e+06,7.182738e+06
2,Miroslav Klose,184.0,2013.75,14.0,21.0,4.0,2.0,0.0,1.0,950.0,1000000.0,36,6.00000,7.191504e+06,5.331868e+06,7.836111e+06,7.182738e+06
3,Miroslav Klose,184.0,2014.25,24.0,22.0,4.0,3.0,0.0,1.0,1270.0,1000000.0,36,6.00000,7.191504e+06,5.331868e+06,7.836111e+06,7.182738e+06
4,Miroslav Klose,184.0,2014.75,31.0,18.0,4.0,3.0,0.0,2.0,496.0,1000000.0,37,6.00000,7.191504e+06,5.331868e+06,7.836111e+06,7.182738e+06

In [5]:
r = df.sort_values(by='club_id_encoded', ascending=False)
r

,name,height_in_cm,year,goals_for,goals_against,goals,assists,red_cards,yellow_cards,minutes_played,market_value_in_eur,age_at_evaluation,log_market_value_base10,country_of_citizenship_encoded,sub_position_encoded,club_id_encoded,domestic_competition_id_encoded
5908,Jesús Navas,170.0,2016.25,42.0,19.0,0.0,5.0,0.0,2.0,1850.0,20000000.0,31,7.301030,6.756234e+06,3.362303e+06,3.441893e+07,1.394423e+07
4514,Yaya Touré,188.0,2016.25,32.0,16.0,3.0,1.0,0.0,1.0,1236.0,16000000.0,33,7.204120,5.991327e+06,5.459811e+06,3.441893e+07,1.394423e+07
100662,Gabriel Jesus,175.0,2019.25,63.0,9.0,10.0,4.0,0.0,1.0,886.0,70000000.0,22,7.845098,6.400052e+06,5.331868e+06,3.441893e+07,1.394423e+07
100661,Gabriel Jesus,175.0,2018.75,53.0,15.0,6.0,2.0,0.0,0.0,1058.0,70000000.0,21,7.845098,6.400052e+06,5.331868e+06,3.441893e+07,1.394423e+07
100660,Gabriel Jesus,175.0,2018.25,29.0,14.0,7.0,1.0,0.0,5.0,926.0,80000000.0,21,7.903090,6.400052e+06,5.331868e+06,3.441893e+07,1.394423e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105110,Oleksiy Khakhlyov,179.0,2022.75,10.0,15.0,1.0,1.0,0.0,2.0,1204.0,400000.0,23,5.602060,1.184284e+06,5.459811e+06,2.359569e+05,1.251386e+06
105109,Oleksiy Khakhlyov,179.0,2021.75,12.0,28.0,0.0,2.0,0.0,4.0,830.0,200000.0,22,5.301030,1.184284e+06,5.459811e+06,2.359569e+05,1.251386e+06
112485,Vitaliy Boyko,183.0,2021.25,4.0,13.0,0.0,0.0,0.0,1.0,405.0,200000.0,24,5.301030,1.184284e+06,5.454255e+06,2.359569e+05,1.251386e+06
105108,Oleksiy Khakhlyov,179.0,2021.25,4.0,17.0,1.0,0.0,0.0,2.0,543.0,200000.0,22,5.301030,1.184284e+06,5.459811e+06,2.359569e+05,1.251386e+06
107248,Shemmy Mayembe,176.0,2020.75,6.0,18.0,0.0,0.0,0.0,2.0,616.0,300000.0,24,5.477121,2.739575e+06,3.362303e+06,2.359569e+05,1.251386e+06